:root {
	--basic-red: #EE3643; /* red-hover */
	--basic-green: #63A63E;/* green-click */
	--basic-black: #000000;
	--basic-dark: #32425C;
	--basic-darker: #293449;
	--basic-white: #ffffff;
	--basic-grey: #C5C5C5;
	--basic-grey2: #E5E5E5;
	
	--text-yellow: #FFD180;
	--text-grey: #A9A9A9;
	
	--index-cold: #F1F5F7;
	--index-warm: #F9F5F0;
	--catalog-cold: #F2F6F8;
	--catalog-warm: #F7F3EC;
	--footer-text: #F3F7F9;

/* category */

	--card-yellow1: #FFBF47;
	--card-blue: #3BBCE3;
	--card-pink: #DC91D8;
	--card-green: #8ED78F;
	--card-yellow2: #FFC047;

/* active */
	--logo-active: #BA2732;
	--grey-click: rgba(255, 255, 255, 0.5);
	--dark-background: #161D29;
/* hover */
	--hover-green: #5FBB2D;
	--basic-grey3: #3D546F;
/* focus */
	--active-green: #518534;
/* Дополнительно */
	--nav-hover: #1D2739;
	--pop-vendors: #EAEAEA;
	--for-boxshadow: #405069;
	--social-icon: #212A3A;
	--nav-arrow: #C1C6CE;
	--forbuy-button: #367315;

	--range-controls: #D7DCDE;
	--range-bar: #00CA74;
	--range-toggle1: #ababab;
	--range-toggle2: #cfcfcf;
	--popup-form: #F4F4F4;
	--popup-form2: #F1F1F1;
}

*, *::before, *::after { box-sizing: border-box; }

body {
	min-width: 960px;
	margin: 0;
	padding: 0;
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: var(--basic-black);
	background-color: var(--basic-white);
}

a {
	text-decoration: none;
}

img {
	max-height: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.page {
	height: 100%;
}

.page-body {
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
}

.container {
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}

.header {
	background-color: var(--index-cold);
}

.header-navigation {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-navigation {
	background-color: var(--basic-dark);
	box-shadow: inset 0px -5px 0px var(--basic-darker);
	list-style: none;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 60px;
	padding: 0 19px 0 25px;
}

.logo-navigation a,
.main-navigation a {
	color: var(--basic-white);
	font-size: 18px;
	line-height: 24px;
}

.main-navigation a {
	display: block;
	padding: 16px 28px 20px;
}

.main-navigation a:hover {background-color: var(--basic-darker);}
.main-navigation a:active {
	opacity: 0.5;
	background-color: var(--nav-hover);}

.logo-navigation {
	width: 100%;
	height: 42px;
	background-color: var(--basic-darker);
	margin-bottom: 43px;
}

.top-navigation-logo {
	display: flex;
}

.top-navigation {
	height: 42px;
	display: flex;
	justify-content: space-between;
}

.logo {
	width: 220px;
	height: 47px;
	background-color: var(--basic-red);
	box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
	padding: 12px 57px 17px 55px;
}

.logo:active {
	background-color: var(--logo-active);
}

.search-form {
	position: relative;
}

.search {
	background-color: var(--basic-darker);
	border: none;
	line-height: 24px;
	padding-left: 43px;
	padding-top: 9px;
	padding-bottom: 9px;
	color: var(--basic-white);
	-webkit-appearance:none;
	width: 270px;
}

.search-icon {
	position: absolute;
	top: 12px;
	left: 17px;
}

.search::placeholder {
	color: var(--basic-white);
}

.nav-icon {
	opacity: 0.3;
	margin-right: 8px;
	margin-bottom: 2px;
}

.bookmark, .cart, .basket-order {
	width: 150px;
	display: flex;
	align-items: center;
}

.cart {
	width: 136px;
	padding: 9px 20px 9px 12px;
}

.bookmark .nav-icon {
	margin-right: 9px;
}

.bookmark {
	width: 165px;
	padding-right: 10px;
	padding-left: 20px;
}

.basket-order {
	justify-content: center;
}

.cart:hover .nav-icon, 
.bookmark:hover .nav-icon,
.search-form:hover .nav-icon {
	opacity: 1;
}

.search:focus + svg path {
	fill: var(--basic-red);
}

.search:focus + svg {
	opacity: 1;
}

.cart:active .nav-icon, 
.bookmark:active .nav-icon {
	opacity: 0.3;
}

.search:focus {
	background-color: var(--basic-white);
	color: var(--basic-black);
	outline: none;
}

.bookmark:active,
.cart:active {
	background-color: var(--dark-background);
}

.bookmark:active a,
.cart:active a {
	color: var(--grey-click);
}

.basket-order {
	background-color: var(--basic-green);
}

.basket-order:hover {
	background-color: var(--hover-green);
}

.basket-order:active {
	background-color: var(--basic-green);
	color: var(--grey-click);
}

.navigation-center {
	display: flex;
	margin-bottom: 40px;
}

.market-description {
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	color: var(--basic-red);
	width: 200px;
	padding: 0;
	margin: 0;
	margin-left: 30px;
	margin-right: 91px;
}

.header-telephone-adress {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 69px;
}

.header-telephone {
	border: 3px solid var(--basic-white);
	width: 270px;
	height: 45px;
	display: block;
	margin-top: 3px;
}

.header-telephone img {
	position: relative;
	margin-left: 35px;
	margin-right: 11px;
	top: 3px;
}

.header-telephone a {
	font-size: 21px;
	font-weight: bold;
	line-height: 30px;
	color: var(--basic-red);
	margin-top: 4px;
	display: inline-block;
}

.header-address {
	color: var(--basic-dark);
	font-size: 14px;
	line-height: 24px;
	margin: 0;
	margin-top: 3px;
}

.login-logon {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 3px;
}

.login, .logon {
	background-color: var(--basic-white);
}

.login {
	margin-right: 10px;
	padding: 12px 27px 12px 18px;
	display: flex;
}

.logon {
	padding: 12px 24px;
}

.login, .logon {
	font-size: 21px;
	line-height: 21px;
	color: var(--basic-black);
}

.login svg {
	margin-right: 6px;
	margin-top: 1px;
}

.login:hover, .logon:hover {
	color: var(--basic-red);
}

.login:hover path {
	fill: var(--basic-grey3);
}

.login:active, .logon:active {
	color: var(--basic-grey);
}

.login:active path {
	fill: var(--basic-grey);
}

/* Категории на главной */

.grid-category {
	display: grid;
	grid-gap: 20px;
	margin: 59px 0px;
}

.category-cards {
	width: 300px;
	height: 123px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 21px 43px 21px 23px;
}

.category-materials {
	grid-column: 1/2;
	grid-row: 1/2;
	background-color: var(--card-yellow1);
}

.new-on-category {
	position: absolute;
	width: 70px;
	height: 70px;
	background-image: url(../img/new.svg);
	background-repeat: no-repeat;
	left: 230px;
	top: 0px;
}

.category-materials-icon {
	width: 44px;
	height: 65px;
	background: url(../img/icon-1.svg) no-repeat;
	margin-top: 3px;
}

.category-instruments {
	grid-column: 2/3;
	grid-row: 1/2;
	background-color: var(--card-blue);
	padding-right: 31px;
}

.category-instruments-icon {
	width: 75px;
	height: 61px;
	background: url(../img/icon-2.svg) no-repeat;
	margin-top: 5px;
}

.category-construction {
	grid-column: 3/4;
	grid-row: 1/2;
	background-color: var(--card-pink);
	padding-right: 31px;
}

.category-construction-icon {
	width: 78px;
	height: 62px;
	background: url(../img/icon-3.svg) no-repeat;
}

.big-slide {
	grid-column: 1/3;
	grid-row: 2/4;
	width: 620px;
	min-height: 266px;
}

.category-discount {
	grid-column: 3/4;
	grid-row: 2/3;
	background-color: var(--card-green);
	padding-right: 45px;
	padding-bottom: 23px;
}

.category-discount-icon {
	width: 59px;
	height: 72px;
	background: url(../img/icon-4.svg) no-repeat;
	margin-top: 3px;
}

.category-delivery {
	grid-column: 3/4;
	grid-row: 3/4;
	background-color: var(--card-yellow2);
	padding-right: 31px;
}

.category-delivery-icon {
	width: 78px;
	height: 63px;
	background: url(../img/icon-5.svg) no-repeat;
	margin-top: 3px;
}

.grid-category h3 {
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: var(--basic-white);
	margin: 0;
	padding: 0;
	margin-bottom: 14px;
}

.grid-category .h3-cards-discount {
	margin-bottom: 11px;
}

.category-text {
	background-color: rgba(255, 255, 255, 0.3);
	color: var(--basic-white);
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	padding: 10px 0;
	width: 135px;
	display: block;
	text-align: center;
}

.category-discount + a {
	margin-top: 10px;
}

.category-text:hover {
	background-color: rgba(197, 197, 197, 0.3);
}

.category-text:active {
	background-color: rgba(169, 169, 169, 0.3);
}

.perforator-background {background: url(../img/slide-perforator.jpg) no-repeat;}
.drill-background {background: url(../img/slide-drill.jpg) no-repeat;}

.big-slide {
	padding: 0px 20px 27px 24px;
	position: relative;
}

.big-slide-title {
	background: rgba(0, 0, 0, 0.25);
	padding: 23px 0px 16px 24px;
	position: absolute;
	width: 620px;
	height: 104px;
	left: 0px;

	display: none;
}

.big-slide-active {
	display: block;
}

.big-slide-title h2 {
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
	color: var(--basic-white);
	padding: 0;
	margin: 0;
	margin-bottom: 5px;
}

.big-slide-title p {
	font-size: 18px;
	line-height: 24px;
	color: var(--basic-white);
	padding: 0;
	margin: 0;
}

.index-red-button {
	background-color: var(--basic-red);
	color: var(--basic-white);
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	display: block;
	padding: 11px 0 9px 0;
}

.big-slide-button {
	width: 192px;
	padding-top: 11px;
	padding-bottom: 9px;
	display: block;
	margin-top: 39px;
}

.index-red-button:active {
	background-color: var(--logo-active);
}

.bigslide-arrows {
	display: flex;
	justify-content: space-between;
	margin-top: 122px;
}

.bigslide-arrows button {
	width: 28px;
	height: 28px;
	margin: 6px;
	background: transparent;
	cursor: pointer;
}

.bigslide-arrows button:focus {
	outline: none;
}

.bigslide-arrow-right {
	border: none;
	border-top: 3px solid var(--basic-white);
	border-right: 3px solid var(--basic-white);
	transform: rotate(45deg);
}

.bigslide-arrow-left {
	border: none;
	border-top: 3px solid var(--basic-white);
	border-left: 3px solid var(--basic-white);
	transform: rotate(-45deg);
}

.bigslide-dots {
	position: absolute;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 220px;
	text-align: center;
	width: 30px;
	justify-content: space-between;
}

.bigslide-dot {
	padding: 0;
	margin: 0;
	width: 10px;
	height: 10px;
	background-color: var(--basic-white);
	cursor: pointer;
	border: 2px solid var(--basic-white);
	border-radius: 50%;
	outline: none;
}

.bigslide-dot.bigslide-dot-active {
	background-color: var(--basic-red);
}

/* Популярные товары и производители */

.h2-popular-1, .h2-popular-2 {
	background-color: var(--index-warm);
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}
.h2-popular-1 {
	padding: 25px 14px 26px 28px;
}
.h2-popular-2 {
	padding: 25px 19px 26px 28px;
	margin-top: 52px;
}

.h2-popular-1 h2, .h2-popular-2 h2 {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-dark);
	font-weight: normal;
	margin: 0px;
}

.index-red-button.button-popular {
	width: 192px;
}

.product-cards-index {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 18px;
}

.page-body-main .product-card:nth-child(1) .perforator-img {
	margin: 0px;
}

.page-body-main .product-card:nth-child(3) {
	margin-left: 2px;
}

.popular-vendors {
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
	padding: 0;
	margin: 0;
}

.popular-vendors li {
	position: relative;
	background: var(--basic-white);
	border: 1px solid var(--pop-vendors);
	height: 145px;
	width: 220px;
}

.popular-vendors a {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
}

.popular-vendors img {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.popular-vendors li:nth-child(2) img {
	top: -5px;
	left: -1px;
}

.popular-vendors li:nth-child(3) img {
	top: -5px;
	left: -1px;
}

.popular-vendors li:nth-child(4) img {
	top: -13px;
	left: -2px;
}

.popular-vendors li:nth-child(5) img {
	top: 2px;
	left: 5px;
}

.popular-vendors li:nth-child(6) img {
	top: -2px;
	left: -4px;
}

.popular-vendors li:hover {
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.popular-vendors li:active {
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
	opacity: 0.5;
}

/* Сервисы */

.services {
	background-color: var(--index-cold);
	margin-top: 70px;
	padding-top: 64px;
}

.services-wrapper {
	display: flex;
	justify-content: space-between;
}

.h2-services {
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-black);
	padding: 0;
	margin: 0;
	margin-bottom: 25px;
}

.services .services-maintext {
	width: 396px;
	margin-bottom: 34px;
}

.h3-services {
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-dark);
	margin: 0px;
	padding: 0px;
	margin-bottom: 30px;
}

.services p {
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-weight: normal;
	font-size: 13px;
	line-height: 24px;
	color: var(--basic-black);
	margin: 0px;
	padding: 0px;
}

.services ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.services-switches {
	display: flex;
	align-items: center;
	align-self: flex-start;
}

.services-switch {
	font-weight: bold;
	font-size: 21px;
	line-height: 30px;
	color: var(--basic-white);
	box-shadow: 0px 1px 0px var(--basic-darker), inset 0px 1px 0px var(--for-boxshadow);
	background: var(--basic-dark);
	border:none;
	outline:none;
	width: 240px;
	padding: 14px 0 17px 22px;
	text-align: left;
	margin-bottom: 1px;
}

.services-switch:hover {
	background: var(--basic-darker);
}

.services-switch.switch-active, .services-switch:active {
	color: var(--basic-dark);
	box-shadow: 0px 1px 0px var(--basic-white);
	background: var(--basic-white);
	border:none;
}

.services-switches:after {
	content: '';
	width: 10px;
	height: 279px;
	background-image: url(../img/switch-border.png);
	margin: -10px;
	z-index: 2;
}

.services-category {
	width: 619px;
	height: 283px;
	margin-top: 35px;
	display: none;
	align-self: flex-end;
}

.services-category.services-active {
	display: block;
}

.services-category.services-category-delivery {
	background-image: url(../img/delivery.png);
	background-position: right bottom;
	background-repeat: no-repeat;
}

.services-category-delivery p {
	width: 313px;
}

.services-category.services-category-guarantee {
	background-image: url(../img/guarantee.png);
	background-position: right bottom;
	background-repeat: no-repeat;
}

.services-category-guarantee p {
	width: 315px;
}

.services-category.services-category-credit {
	background-image: url(../img/credit.png);
	background-position: right bottom;
	background-repeat: no-repeat;
}

.services-category-credit p {
	width: 282px;
	margin-bottom: 30px;
}

.services-category-credit a {
	padding: 11px 0 9px 0;
	width: 192px;
	display: block;
}

/* О компании и контакты */

.company-and-contacts {
	display: grid;
	grid-template-columns: 1fr 300px;
	column-gap: 162px;
	min-height: 356px;
	margin-top: 74px;
	margin-bottom: 70px;
}

.company-section {
	display: flex;
	flex-direction: column;
}

.contacts-section {
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.contacts-section figure {
	margin: 0;
	padding: 0;
	margin-bottom: 25px;
	width: 300px;
	height: 158px;
}

.h2-company, .h2-contacts {
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	margin-bottom: 24px;
}

.about-text, .contacts-text {
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 13px;
	line-height: 24px;
	margin: 0px;
	padding: 0px;
}

.about-text:nth-child(2) {
	margin-bottom: 27px;
}

.contacts-text {
	width: 181px;
	margin-bottom: 32px;
}

.transport-company {
	list-style: none;
	padding: 0px;
	margin: 0px;
	margin-bottom: 20px;
}

.transport-company li {
	background: url(../img/list-style.png) no-repeat;
	background-position: left center;
	padding: 0px;
	margin: 0px;
	padding-left: 37px;
	font-size: 18px;
	line-height: 24px;
}

.transport-company li {margin-bottom: 12px;}
.transport-company li:first-child {background-position: left 14px;}
.transport-company li:last-child {margin-bottom: 0px;}


.index-red-button.button-about {
	width: 220px;
}

.index-red-button.button-contacts {
	width: 100%;
}

/* Футер */

.footer-background {
	background-color: var(--basic-dark);
}

.logo.logo-footer {
	width: 220px;
	height: 68px;
	padding: 20px 41px 25px;
}

.footer-wrap-top {
	display: flex;
	justify-content: space-between;
}

.footer-wrap-bot {
	display: flex;
	justify-content: space-between;
	margin-top: 22px;
	margin-left: 2px;
}

.footer-tel {
	margin-top: 2px;
	margin-left: 2px;
	display: inline-block;
}

.footer-navigation-top {
	display: flex;
	list-style: none;
}

.footer-navigation a, .footer-navigation p {
	font-size: 18px;
	line-height: 24px;
}

.footer-navigation p {
	color: var(--footer-text);
	margin: 0;
}

.footer-navigation a {
	color: var(--index-cold);
}

.footer-navigation-top, .footer-navigation-bottom {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
	justify-content: space-between;
}

.footer-navigation-top {
	margin-top: 38px;
	width: 547px;
}

.footer-navigation-bottom {
	width: 525px;
	margin-top: 6px;
}

.footer-navigation-bottom a {
	color: var(--text-yellow);
	font-size: 18px;
	line-height: 24px;
}

.footer-navigation-top a:hover,
.footer-navigation-bottom a:hover {text-decoration-line: underline;}
.footer-navigation-top a:active,
.footer-navigation-bottom a:active {
	text-decoration-line: none;
	opacity: 0.5}

.footer-end-background {
	background-color: var(--basic-darker);
	margin-top: 52px;
}

.footer-end {
	display: flex;
	align-items: center;
	padding: 34px 0 29px;
}

.footer-end p {
	color: var(--basic-white);
	font-size: 16px;
	line-height: 18px;
	padding: 0;
	margin: 0;
	margin-bottom: 3px;
}

.footer-part1 {width: 227px;}
.footer-part2 {width: 137px;}
.footer-part3 {width: 98px;}

.html-academy-parts {
	display: flex;
	width: 288px;
	justify-content: space-between;
	margin-right: 11px;
}

.html-academy {
	color: var(--text-yellow);
	font-size: 16px;
	line-height: 18px;
}

.html-academy:hover {text-decoration-line: underline;}
.html-academy:active {text-decoration: none; color: var(--basic-red);}

.social-icons-ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	width: 132px;
	margin-left: 163px;
	margin-right: auto;
}

.social-icons {
	width: 42px;
	height: 42px;
	border-radius: 50%;
	display: block;
}

.social-icons-vk {
	background: url(../img/icon-vk.svg) no-repeat center, linear-gradient(0deg, var(--social-icon), var(--social-icon));
}

.social-icons-fb {
	background: url(../img/icon-fb.svg) no-repeat center, linear-gradient(0deg, var(--social-icon), var(--social-icon));
}

.social-icons-insta {
	background: url(../img/icon-insta.svg) no-repeat center, linear-gradient(0deg, var(--social-icon), var(--social-icon));
}

.social-icons-vk:hover,
.social-icons-vk:active {background: url(../img/icon-vk.svg) no-repeat center, var(--basic-red);}

.social-icons-fb:hover,
.social-icons-fb:active {background: url(../img/icon-fb.svg) no-repeat center, var(--basic-red);}

.social-icons-insta:hover,
.social-icons-insta:active {background: url(../img/icon-insta.svg) no-repeat center, var(--basic-red);}

/* Каталог */

.cart-full {
	background-color: var(--basic-red);
}

.header-telephone-adress.telephone-catalog {
	margin-right: 50px;
}

.user-account {
	background-color: var(--basic-white);
	padding: 12px 17px 8px 15px;
	margin-bottom: 7px;
	display: flex;
	align-items: center;
	min-width: 299px;
}

.user-account-in {
	display: flex;
	align-items: center;
	padding-bottom: 4px;
}

.user-account-in svg {margin-right: 20px;}
.user-account-out {
	margin-left: 20px;
	padding-top: 2px;
}

.user-account-in:hover path,
.user-account-out:hover path {
	fill: var(--basic-grey3);
}

.user-account-in:active span {
	color: var(--basic-grey);
}

.user-account-in:active path,
.user-account-out:active path {
	fill: var(--basic-grey);
}

.user-account-name {
	font-size: 21px;
	line-height: 21px;
	color: var(--basic-black);
	width: 186px;
	text-align: center;
}

.user-account-full {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2px;
}

.sub-user-account {
	display: flex;
	justify-content: space-between;
	width: 210px;
	align-items: center;
}

.sub-user-account a {
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-dark);
}

.sub-user-account a:hover {color: var(--basic-red);}
.sub-user-account a:active {color: var(--basic-grey);}

.dot {
	width: 4px;
	height: 4px;
	border-radius: 4px;
	background: linear-gradient(0deg, var(--basic-dark), var(--basic-dark)), var(--basic-white);
}

.dot:hover {background: var(--basic-red);}
.dot:active {background: var(--basic-grey);}

.main-catalog-grid {
	display: grid;
	grid-template-columns: 220px 1fr;
}

.nav-catalog {
	grid-column: 1/-1;
	list-style: none;
	font-family: 'PT Sans', 'Arial', sans-serif;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	margin-top: 21px;
	margin-bottom: 20px;
}

.nav-catalog li {
	display: flex;
	align-items: center;
	margin-left: 15px;
}

.nav-catalog li:first-child {
	margin-left: 0px;
}

.nav-arrow {
	padding: 0;
	margin: 0;
	width: 8px;
	height: 8px;
	border-right: 1px solid var(--nav-arrow);
	border-top: 1px solid var(--nav-arrow);
	transform: rotate(45deg);
	margin-right: 18px;
}

.nav-catalog a {
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--basic-black);
}

.h1-category {
	grid-column: 1/-1;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-dark);
	background-color: var(--catalog-cold);
	font-weight: normal;
	padding: 0;
	margin: 0;
	padding: 29px;
	margin-bottom: 20px;
}

/* Каталог - фильтры */

.catalog-form {
	display: flex;
	flex-direction: column;
	width: 220px;
}

.h2-filter {
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	background-color: var(--catalog-warm);
	padding: 0;
	margin: 0;
	padding: 10px 0px 10px 18px;
	border-radius: 3px;
	margin-bottom: 13px;
}

/* Ценовой фильтр - начало */

.range-filter {
	margin-top: 11px;
	width: 220px;
}

.range-controls {
	position: relative;
	height: 80px;
	background-color: var(--catalog-warm);
	border-radius: 5px;
	margin-bottom: 9px;
	padding: 39px 20px;
}

.range-controls .scale {
	height: 2px;
	background: var(--range-controls);
}

.range-controls .bar {
	width: 85%;
	height: 2px;
	background: var(--range-bar);
}

.range-controls .toggle {
	position: absolute;
	top: 30px;
	left: 0;
	width: 20px;
	height: 20px;
	padding: 0;
	border: 8px solid var(--basic-white);
	background-color: var(--range-toggle1);
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 var(--range-toggle2);
	cursor: pointer;
}

.range-controls .toggle-min {
	left: 18px;
}

.range-controls .toggle-max {
	left: 160px;
}

.price-controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.price-controls input {
	text-align: center;
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 17px;
	line-height: 18px;
	padding: 10px 0;
	width: 95px;
	background-color: var(--catalog-warm);
	border: none;
	border-radius: 5px;
}

/* Ценовой фильтр - конец */

.section-sortby {
	background-color: var(--catalog-warm);
	margin-bottom: 28px;
	padding: 10px 15px 10px 20px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	border-radius: 3px;
}

.section-sortby h2 {
	margin: 0;
	padding: 0;
	margin-right: 140px;
}

.button-sortby, .button-sortby-updown {
	cursor: pointer;
	margin: 0;
	padding: 0;
}

.allbuttons-sortby {
	display: flex;
	justify-content: space-between;
	width: 355px;
	margin-right: auto;
}

.buttons-sortby-updown {
	display: flex;
	width: 45px;
	justify-content: space-between;
	align-items: center;
}

.button-sortby-updown {
	display: flex;
}

.button-sortby:nth-child(2) {
	margin-left: 5px;
}

.button-sortby-updown path {fill:var(--basic-grey);}

.section-sortby .button-sortby {
	color: rgba(0, 0, 0, 0.3);
	padding: 0;
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: var(--basic-red);
}

.section-sortby .button-sortby:hover {
	border-bottom-style: solid;
	color: var(--basic-black);
}

.section-sortby .button-sortby:active {
	color: var(--basic-red);
	border: none;
}

.section-sortby .button-sortby.sortby-active {
	color: var(--basic-red);
	border: none;
}

.button-sortby-updown.sortby-active path {fill: var(--basic-red);}

.button-sortby-updown:hover path {fill: var(--basic-black);}
.button-sortby-updown:active {outline: none;}
.button-sortby-updown:active path {fill: var(--basic-red);}

.section-sortby h2 {
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
}

.catalog-form fieldset {
	border: none;
	margin: 0px;
	padding: 0px;
}

.separator {
	width: 100%;
	height: 1px;
	background-color: var(--pop-vendors);
}

.separator-1 {
	margin-top: 25px;
	margin-bottom: 17px;
}

.separator-2 {
	margin-top: 27px;
	margin-bottom: 19px;
}

.h3-filter {
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	color: var(--basic-black);
	padding: 0;
	margin: 0;
}

.label-checkbox, .label-radio {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-left: 35px;
}

.label-checkbox {margin-top: 17px;}
.label-radio {margin-top: 23px;}

.label-checkbox li {margin-bottom: 20px;}
.label-checkbox li:last-child {margin-bottom: 0;}

.label-radio li {margin-bottom: 22px;}
.label-radio li:last-child {margin-bottom: 37px;}

.label-checkbox label, .label-radio label {
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 19px;
	text-transform: uppercase;
	color: var(--basic-black);
	position: relative;
	display: block;
	cursor: pointer;
	user-select: none;
}

.input-checkbox + label::before {
	content: '';
	position: absolute;
	left: -35px;
	top: -2px;
	width: 27px;
	height: 23px;
	background-image: url(../img/checkbox-off.svg);
	background-position: 0 0;
	background-repeat: no-repeat;
}

.input-checkbox:checked + label::before {
	content: '';
	position: absolute;
	left: -35px;
	top: -2px;
	width: 27px;
	height: 23px;
	background-image: url(../img/checkbox-on.svg);
	background-position: 0 0;
	background-repeat: no-repeat;
}

.input-radiobox + label::before {
	content: '';
	position: absolute;
	left: -35px;
	top: -3px;
	width: 25px;
	height: 25px;
	background-image: url(../img/radio-off.svg);
	background-position: 0 0;
	background-repeat: no-repeat;
}

.input-radiobox:checked + label::before {
	content: '';
	position: absolute;
	left: -35px;
	top: -3px;
	width: 25px;
	height: 25px;
	background-image: url(../img/radio-on.svg);
	background-position: 0 0;
	background-repeat: no-repeat;
}

.filter-button {
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--basic-black);
	border: 1px solid var(--basic-grey2);
	background: none;
	width: 100%;
	padding: 10px 0px;
	cursor: pointer;
}

/* Карточки продуктов */

.catalog-and-sortby {
	margin-left: 20px;
}

.product-cards-catalog {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
}

.product-cards-catalog.product-cards-inner {
	margin-bottom: 28px;
}

.product-card {
	position: relative;
	border: 1px solid var(--pop-vendors);
	background-color: var(--basic-white);
	width: 220px;
	min-height: 318px;
	margin-right: 20px;
	margin-bottom: 18px;
	padding: 6px 18px 21px;
	text-align: center;
}

.invisible-discount {
	visibility: hidden;
}

.product-card:nth-child(3n) {
	margin-right: 0;
}

.product-cards-index .product-card {
	margin-right: 19px;
}

.product-cards-index .product-card:nth-child(3n) {
	margin-right: 20px;
}

.product-cards-index .product-card:nth-child(4n) {
	margin-right: 0px;
}

.card-img-wrapper {
	width: 184px;
	height: 164px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.buy-popup {
	display: none;
	text-align: center;
	margin-bottom: 18px;
	padding-right: 3px;
	padding-top: 2px;
}

.product-card .new-img {
	position: absolute;
	left: 148px;
	top: 0px;
}

.product-card .perforator-img {
	margin-top: -8px;
	margin-left: -10px;
}

.product-card:hover {
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.product-card:hover .buy-popup {
	display: block;
}

.product-card:hover .perforator-img {
	display: none;
}

.product-card h4 {
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
	color: var(--basic-black);
	padding: 0;
	margin: 0;
	text-align: center;
	margin-top: 8px;
	margin-bottom: 9px;
}

.product-card p {
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 17px;
	font-weight: bold;
	line-height: 18px;
	color: var(--text-grey);
	text-decoration-line: line-through;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

.red-button {
	width: 141px;
	padding: 10px;
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 17px;
	font-weight: bold;
	line-height: 18px;
	color: var(--basic-white);
	text-transform: uppercase;
	background: url(../img/red-button.svg) no-repeat;
	margin-left: 27px;
	margin-top: 12px;
	padding-left: 0px;
}

.buy-button {
	font-size: 14px;
	line-height: 18px;
	color: var(--basic-white);
	text-transform: uppercase;
	background-color: var(--basic-green);
	border-radius: 2px;
	box-shadow: inset 0px -3px 0px var(--forbuy-button);
	margin: 0;
	padding: 0;
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 10px;
	width: 135px;
	margin-bottom: 10px;
	display: block;
	cursor: pointer;
}

.buy-button:before {
	content: '';
	width: 15px;
	height: 15px;
	background: url(../img/icon-cart.svg) no-repeat;
	float: left;
	margin-left: 28px;
	opacity: 0.3;
}

.buy-button:hover {
	background-color: var(--hover-green);
}

.buy-button:active {
	background-color: var(--active-green);
}

.bookmark-button {
	font-size: 14px;
	line-height: 18px;
	color: var(--basic-black);
	text-transform: uppercase;
	border: 3px solid var(--basic-green);
	background-color: var(--basic-white);
	border-radius: 2px;
	margin: 0;
	padding: 0;
	padding-top: 8px;
	padding-bottom: 6px;
	width: 135px;
	outline: none;
	cursor: pointer;
}

.bookmark-button:hover {
	border-color: var(--basic-dark);
	color: var(--basic-dark);
}

.bookmark-button:active {
	border-color: var(--basic-dark);
	color: var(--basic-dark);
	opacity: 0.5;
}

.page-buttons {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 59px;
}

.page-button {
	color: var(--basic-black);
	border: 1px solid var(--basic-grey2);
	background-color: var(--basic-white);
	border-radius: 2px;
	text-transform: uppercase;
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 13px;
	line-height: 18px;
	padding: 10px 15px;
	margin-right: 9px;
	display: block;
}

.page-button.page-next {
	padding: 10px 31px;
}

.page-button:hover {
	border-color: var(--basic-grey);
}

.page-button:active {
	border-color: var(--basic-red);
}

.page-button.page-active {
	background-color: var(--basic-red);
	color: var(--basic-white);
	border: 1px solid var(--basic-red);
}

/* Пара слов о перфораторах */

.fewwords-background {
	background-color: var(--index-cold);
	padding-top: 64px;
	padding-bottom: 69px;
}

.fewwords-about h2 {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: normal;
	padding: 0;
	margin: 0;

	margin-bottom: 25px;
}

.fewwords-about p {
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 13px;
	line-height: 24px;
	padding: 0;
	margin: 0;
	width: 907px;
}

/* index popup */

.modal-contacts {
	position: fixed;
	width: 620px;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
	background-color: var(--basic-white);
	left: 0;
	right: 0;
	top: 120px;
	bottom: auto;
	margin: auto;
	z-index: 3;

	display: none;
}

.form-wrapper {
	padding: 39px 80px 37px;
	display: block;
}

.login-wrapper, .email-wrapper {
	width: 220px;
}

.form-wrapper input, .form-wrapper textarea {
	border: 2px solid var(--basic-grey);
	border-radius: 2px;
	padding: 0;
	margin: 0;
}

.popup-form-label {
	display: inline-block;
	padding-bottom: 11px;
}

.form-wrapper input {
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: var(--basic-black);
	width: 100%;
	padding: 7px 12px 7px 12px;
}

.form-wrapper input::placeholder, .form-wrapper textarea::placeholder {
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: var(--text-grey);
}

.form-wrapper textarea {
	resize: none;
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 13px;
	line-height: 24px;
	width: 460px;
	height: 114px;
	padding: 7px 12px 7px 12px;
	display: block;
}

.form-login-email {
	display: flex;
	justify-content: space-between;
	margin-bottom: 13px;
}

.popup-form-bottom {
	background-color: var(--popup-form);
	padding: 37px 80px;
}

.popup-submit-button {
	border: none;
	width: 100%;
}

/* map */

.popup-map {
	position: fixed;
	width: 943px;
	height: 449px;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
	background-color: var(--basic-white);
	left: 0;
	right: 0;
	top: 120px;
	bottom: auto;
	margin: auto;
	z-index: 4;

	display: none;
}

.popup-map iframe {
	border: none;
}

/* catalog popup */

.popup-order {
	position: fixed;
	width: 620px;
	height: 282px;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
	z-index: 20;
	background-color: var(--basic-white);
	left: 30px;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;

	display: none;
}

.popup-cross {
	position: absolute;
	right: 11px;
	top: 18px;
	width: 21px;
	height: 21px;
	border: none;
	background: url(../img/icon-close.svg) no-repeat;
	padding: 0px;
	margin: 0px;
	cursor: pointer;
	outline: none;
}

.popup-top-border {
	width: 100%;
	height: 7px;
	background-color: var(--basic-red);
}

.popup-successtext {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 48px 0 49px 81px;
}

.popup-successtext p {
	width: 270px;
	padding: 0;
	margin: 0;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	margin-left: 30px;
}

.popupcatalog-buttons {
	display: flex;
	justify-content: center;
	padding: 37px 0 37px 0;
	background-color: var(--popup-form2);
}

.popupcatalog-buttons a, .popupcatalog-buttons button {
	width: 192px;
	margin-left: 4px;
}

.popupcatalog-buttons button {
	margin-left: 10px;
	background-color: var(--basic-white);
	color: var(--basic-black);
	border: none;
	cursor: pointer;
}

.popupcatalog-buttons button:active {
	background-color: var(--basic-white);
}

/* Для скрипта */

.modal-show {
	display: block;
	animation: bounce 0.6s;
}

.modal-error {
	animation: shake 0.6s;
}

@keyframes bounce {
	0% {
		transform: translateX(2000px);
	}
	70% {
		transform: translateX(-30px);
	}
	90% {
		transform: translateX(10px);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes shake {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60%,
	80% {
		transform: translateX(10px);
	}
}